std2@https://github.com/ms-jpq/std2/archive/f06c56aead69b34582607b20ab3ac3ca0704ecec.tar.gz
py-dev@https://github.com/ms-jpq/py-dev/archive/1c25a8ac55276f4003c203f0d3880afe5de2f3b3.tar.gz
sortd
Jinja2
