[Unit]
Description=Dnsmasq DHCP Server
After=if-up.service
Requires=if-up.service
PartOf=unbound.service

[Service]
DynamicUser=yes
Restart=on-failure
ExecStart=/usr/sbin/dnsmasq --conf-dir /srv/run/dnsmasq/dhcp/conf.d

[Install]
WantedBy=default.target
