[Unit]
Description=Dnsmasq DNS Server
After=if-up.service
Requires=if-up.service

[Service]
DynamicUser=yes
Restart=on-failure
ExecStart=/usr/sbin/dnsmasq --conf-dir /srv/run/dnsmasq/dns/conf.d

[Install]
WantedBy=default.target
