[Unit]
Description=Interfaces Up
After=template.service
Requires=template.service

[Service]
Type=oneshot
Restart=on-failure
RemainAfterExit=yes
ExecStart=/venv/bin/python3 -m router ifup

[Install]
WantedBy=default.target
