[Unit]
Description=NFtables Firewall
After=if-up.service
After=wireguard.service
Requires=if-up.service
Requires=wireguard.service

[Service]
Type=oneshot
DynamicUser=yes
Restart=on-failure
RemainAfterExit=yes
ExecStart=/srv/run/nftables/nft.sh

[Install]
WantedBy=default.target
