[Unit]
Description=Nginx Http Server
After=if-up.service
Requires=if-up.service

[Service]
DynamicUser=yes
Restart=on-failure
ExecStart=/usr/sbin/nginx -c /srv/run/nginx/nginx.conf

[Install]
WantedBy=default.target
