[Unit]
Description=Configuration Template
After=journalctl.service
Requires=journalctl.service

[Service]
Type=oneshot
DynamicUser=yes
Restart=on-failure
RemainAfterExit=yes
ExecStart=/venv/bin/python3 -m router template
ExecStart=/usr/bin/systemctl daemon-reload

[Install]
WantedBy=default.target
