[Unit]
Description=Unbound
After=if-up.service
Requires=if-up.service

[Service]
DynamicUser=yes
Restart=on-failure
Environment=CONF=/srv/run/unbound/0-include.conf
ExecStartPre=/usr/bin/unbound-checkconf -- ${CONF}
ExecStart=/usr/sbin/unbound -c ${CONF}

[Install]
WantedBy=default.target
